<!DOCTYPE html>
<html>

<head>
    <title>
        Liste des Produits
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
       Liste des produits

    </h1>
    
    <p><% produits.forEach(function(element) {%>
        <span>Nom du Produit : <%= element.nomproduit%></span>
        <span>Type du produit : <%= element.type%></span>
        <span>Prix du produit : <%= element.prix%></span>
        <span>Quantité du produit : <%= element.quantite%></span>
    <%})%>
    <%= test%>
    </p>

    <a href="/produits/ajoutproduit">Ajout</a>


    
</body>

</html>